services:
  mariadb:
    image: mariadb
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - network
    restart: always
    env_file:
      - .env

  wordpress:
    image: wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    build: ./requirements/wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - network
    restart: always
    env_file:
      - .env
  nginx:
    image: nginx
    build: ./requirements/nginx
    container_name: nginx
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - 443:443
    networks:
      - network
    depends_on:
      - wordpress
    restart: always

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none # Just a normal directory
      device: /home/bryeap/data/mysql # path on the host machine
      o: bind 
  wordpress_data:
    driver: locald
    driver_opts:
      type: none
      device: /home/bryeap/data/wordpress
      o: bind

# volumes:
#   mariadb_data:
#   wordpress_data:

networks:
  network:
    driver: bridge