services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - network
    restart: always
    env_file:
      - .env

# volumes:
#   mariadb_data:
#     driver: local
#     driver_opts:
#       type: none
#       device: /home/vbachele/data/mysql
#       o: bind

volumes:
  mariadb_data:
  wordpress_data:

networks:
  network:
    driver: bridge